:root {
    --color: #A7C6D9;
    --color-grey: #7C9AA6;
    --color-dark-grey: #345259;
    --color-black: #17261B ;
}
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}
body {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    margin: 0;
}
.container {
    display: grid;
    grid-template-rows: 30% 40% 30%;
    height: 100vh;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.t1 {
    color: var(--color-grey);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 0px;
}
.t2 {
    color: var(--color-dark-grey);
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 5px;
}
.img {
    display: flex;
    justify-content: center;
}
.subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.subtitle h2 {
    color: var(--color-dark-grey);
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 500;
}

@media (min-width: 576px) {
    .t1 {
        font-size: 3.5rem;
        letter-spacing: 17px;
    }
    .t2 {
        font-size: 4rem;
    }
    .subtitle h2 {
        font-size: 3.5rem;
    }
}
@media (min-width: 768px) {
    .t1 {
        font-size: 4.5rem;
        letter-spacing: 20px;
    }
    .t2 {
        font-size: 5rem;
    }
    .subtitle h2 {
        font-size: 4.5rem;
    }
}
@media (min-width: 992px) {
    .t1 {
        font-size: 5.5rem;
        letter-spacing: 24px;
    }
    .t2 {
        font-size: 6rem;
    }
    .subtitle h2 {
        font-size: 5.5rem;
    }
}
@media (min-width: 1200px)  {
    .t1 {
        font-size: 6.5rem;
        letter-spacing: 27px;
    }
    .t2 {
        font-size: 7rem;
    }
    .subtitle h2 {
        font-size: 6.5rem;
        letter-spacing: 10px;
    }
}